body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}


.navbar {
    background-color: #222;
    padding: 14px;
}

.navbar a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #444;
}


.external-style {
    color: green;
    font-size: 26px;
}


.styled-para {
    font-size: 20px;
    color: purple;
}


.external-box {
    background-color: lightblue;
    padding: 15px;
    border-radius: 8px;
}


.shop-title {
    text-align: center;
    margin: 20px 0;
}

.product-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background: white;
    width: 25%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    border-radius: 8px;
}

.price {
    color: green;
    font-size: 20px;
}

.btn {
    background-color: #008CBA;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007399;
}
