   body{
            margin: 0px;
            width: 100%;
        }
        .child1{
          position: sticky;
          top:0;
        }
       .child1   nav {
        display: flex;
        justify-content: space-between;
        background: rgb(47, 46, 46);
        height: 60px;
        margin: 0px;
        cursor: pointer;
       }
        .child1 button{
        background-color: rgb(47, 46, 46);
        border:01px solid rgb(102, 102, 102);
        font-size: 20px;
       }
       .nav2 button{
        font-size: 24px;
        width: 60px;
       }
       .nav1 .b6{
        width: 160px;
        font-size: 30px;
        font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(235, 232, 232);
        border:black;
       }
       .nav1 .b7{
        width: 140px;
        font-size: 15px;
        font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(163, 159, 159);
        background-color:rgb(38, 37, 37);
        border:rgb(38, 37, 37); ;
       }
       .b1,.b2,.b3,.b4,.b5{
        color: rgb(160, 157, 157);
       }
       
       .nav2 .b4{
        background-color:rgb(140, 194, 70);
        border:rgb(128, 184, 55) ;
        
       }
       .b4{
        color: white;
       }
      
       .b1:hover {
        background-color: rgb(32, 31, 31);
        color: white;
       }
       .b2:hover {
        background-color: rgb(32, 31, 31);
        color: white;
       }
       .b3:hover {
        background-color: rgb(31, 31, 31);
        color: white;
       }
       .b4:hover {
        background-color: rgb(32, 32, 32);
        color: white;
       }
       .b5:hover {
        background-color: rgb(32, 32, 32);
        color: white;
       }
       
        .nav1{
            display: flex;
        }
        .nav2{
            display: flex;
            margin-left: 60px;
            font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       
        }
        .nav2 a{
          text-decoration: none;
          font-size: 33px;
          color: black;
          margin-right: 200px;
        }
        .nav3 a:hover{
        color:  rgb(15, 164, 228);
      }
        .nav3{
          height: 100px;
          justify-content:center;
          align-content: center;
          gap:20px;
        }
        .child2{
          display: flex;
          position: static;
        }
        .menu{
          display: flex;
          gap:30px  ;
          list-style: none;
          align-items: center;
        }
        .menu li{
           position:relative;
           list-style: none;
        }
      .menu a {
        text-decoration: none;
        color: #333;
        padding: 8px 12px;
        display: block;
      }
      .child2{
        background-color:white;
        color:black;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        /* text-decoration: none; */

      }
        .down1 {
          position:absolute;
          width: 180px;
          background: #fff;
          border: 1px solid #ccc;
          display: none;
        }
        .down1 li{
          border-top: 1px solid rgb(34, 109, 111);
          /* padding: 5px; */
          right: 40px;
          
        }
       
        .down2{
          position: relative;
        }
        .down:hover .down1{
          cursor: pointer;
          display: block;
        }
        .down3{
          position: absolute;
          top: 0;
          left: 200px;
          width: 180px;
          background: #fff;
          border: 1px solid #ccc;
          display: none;
        }
        .down2:hover .down3{
          display: block;
        }
        .nav3{
          font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        /* .child3 img{
            margin-left: 80px;
        } */
        .child3 {
            display: flex;
            margin:0px 15px;
            width: 100%;
            height:700px;
        } 
        .block{
            padding-top:  55px;
        }
        .block h1 {
         font-size: 50px;
         margin:0px 0px 0px 190px;
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         padding-bottom: 10px;
         }
        .block p{
         font-size: 15px;
         margin-left: 190px;
         font-family: Arial;
         color: #7f7f7f;
         line-height: 2;
         

        }
        .image img{
         width: 800px;  
        }
        .block button{
          width: 140px;
          height: 45px;
          margin:40px 0px 0px 190px;
          padding: 5px;
          font-size: 15px;
          border:1px royalblue;
          border-radius: 25px ;
          color: white;
          background-color: rgb(67, 168, 239);
        }
         .but:hover{
           box-shadow: 2px 2px 30px rgb(196, 203, 208);
       }
       .no1{
          
          font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 18px;
          justify-self: center;
          text-align: center;
          width: 580px;
          /* display:none; */  
       }
       .no1 p{
        color: #7f7f7f; 
        line-height: 2;
       }
       .no1:hover{
        /* display: block; */
       }
    .grid{
      justify-items: center;
      margin-top:100px;
      /* align-items: center; */
      
    }
     .box1{
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      row-gap:30px;
      width: 80%;
      
     }
    .box1 .c1{
      
      border-radius: 10px;
      width: 300px;
      height: 190px;
      padding: 30px;
      text-align: center;
      background-color: #f7f5f5;
     }
    .c1 h3{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
     font-weight: 400;
      }
    .c1 p{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: rgb(119, 113, 113);
      line-height: 2;
    }
    .c1 a{
       text-decoration: none;
       color: rgb(23, 144, 243);
       font-size: 15px;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    .c1:hover{
        background-color: rgb(67, 168, 239);
        color: white;
    }
    .c1:hover p {
      color: white;
    }
    .c1:hover a {
      color: white;
    }

 
       
    